.app-container{
  background-image: url("./images/personal_website_background-01.png");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  width: 101%;
  margin: -10px;
  height: 1020px;
  position: relative;
}


.navbar-container{
  font-family: din-condensed, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  color: red;
}

.resume{
transform: rotate(90deg);
}


.dallin-avatar{
  background-image: url("./images/Dallin_Avatar.png");
  background-size: 500px 250px;
  background-repeat: no-repeat;
  width: 50%;
  height: 480px;
  margin: 0 auto;
  margin-top: 200px;
}
