.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 1000px;
}

.contact-spacer{
    width: 100vw;
    height: 100px;
    background-color: black;
}

.contact-title{
    position: relative;
    color: white;
    font-size: 38px;
}
.contact-sect{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact-center{
    position: relative;
}

.contact-form{
    width: 57vw;
    height: 700px;
    position: relative;
}

.contact-ar{
    float: right;
}
.form-control{
    width: 230px;
}
@media (min-width: 430px) and (max-width: 625px){
    .form-control{
        width: 120px;
    }
}
.contact-checkboxes{
    position: relative;
    top: -40px;
}
.contact-submit{
    margin-top: 30px;
    background-color: black;
    border-color: white;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 17px;
    cursor: pointer;
}
.contact-submit:hover{
    background-color: white;
    color: black;
}
