
* {
    box-sizing: border-box;
    font-family: 'Khand', sans-serif;
}

div,
body {
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow: hidden;
    overflow-y: auto;
}

hr{
    border: none;
    height: 3px;
    color: #000;
    background-color: #000;
}

h2{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    position: relative;
    padding-left: 10px;
    font-size: 60px;
    opacity: 0;
    transform: rotate(270deg);
    margin-top: -125px;
    width: 250px;
    color: #be1e2d;
    pointer-events: none;
}
@media (min-width: 787px) and (max-width: 991px) {
    h2{
        font-size: 35px;
        padding-left: 0px;
        margin-top: -105px;
    }
}
@media (min-width: 475px) and (max-width: 787px) {
    h2{
        font-size: 30px;
        padding-left: 0px;
        margin-top: -105px;
    }
}
@media (max-width: 475px) {
    h2{
        opacity: 1;
        transform: rotate(0deg);
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: -66px;
        padding-left: auto;
        font-size: 30px;
        width: 0px;
        margin-left: auto;
        margin-right: auto;
        left: 25px;
    }
}

.see-projects-icon{
    position: absolute;
    width: 95px;
    left: 50%;
    transform: translate(-50%);
    top: 625px;
}

.see-projects-icon:hover{
    cursor: pointer;
    opacity: .8;
}
@media (min-width: 1200px) {
    .see-projects-icon{
        top: 725px;
    }
}
@media (min-width: 787px) and (max-width: 1200px) {
    .see-projects-icon{
        width: 70px;
    }
}

@media (min-width: 475px) and (max-width: 787px) {
    .see-projects-icon{
        width: 70px;
        top: 520px;
    }
}
@media (max-width: 475px) {
    .see-projects-icon{
        top: 475px;
        width: 60px;
    }
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: black;
    margin-top: -30px;
}

.anchor-stuff{
    font-size: 1px;
    color: black;
}

.footer-text{
    position: relative;
    top: 16px;
    color: white;
    letter-spacing: 1.5px;
}

label{
    color: white;
}
