.title{
  text-align: center;
}


.todoitem {
  background-color: #E6E6FA;
  margin-left:4%;
  margin-top: 23px;
  text-align: center;
  border-radius: 10px;
}

.input_submission{
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  position: relative

}

.sendbutton{
  margin-top: 10px;
  width:150px;
  left: 50%;
  transform: translateX(-50%);
  position: relative

}

.deleteit{
  margin-bottom: 13px

}
