* {
    box-sizing: border-box;
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'VT323', monospace;
}

body {
    background-color: black;
    color: white;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
    color: white;
}

.add-input::placeholder {
    color: red;
}
