body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 50px;
}

p {
    color: #eeeeee;
    font-size: 20px;
    line-height: 130%;
}

span.credits {
    text-decoration: underline;
    color: #49DAFF;
}

#film-description {
    font-size: 13px;
    font-style: italic;
}