.card {
  width: 400px;
  height: 600px;
  border-style: solid;
  border-color: black;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  background-color: #B0E0E6;
  display: inline-block;
}

.images {
  width:300px;
  clip: rect(5px, 250px, 180px, 20px);
  margin: auto;
  left:50%;
  transform: translate(-50%);
  position: absolute;

}

.title {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  left:50%;
  transform: translate(-50%);
  line-height: 40px;
  font-size: 40px;
  color: firebrick;
  top: 240px;
  position: absolute;
}

.description {
  font-family: 'Carter One', cursive;
  padding:20px;
  margin: 20px;
  line-height: 20px;
  font-size: 14px;
  top: 350px;
  text-align: center;
  position: absolute;
}

.superpower {
  font-family: 'Rammetto One', cursive;
  width: 360px;
  text-align: center;
  color: #191970;
  left:50%;
  transform: translate(-50%);
  line-height: 40px;
  font-size: 20px;
  top: 290px;
  position: absolute;

}

.topstuff{
    text-align: center;
}
